body {
  font-family: "Inter", sans-serif;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom style for solved problems */
.solved-problem a {
  color: #4ade80; /* A nice green color */
  text-decoration: line-through;
}

.solved-problem a:hover {
  color: #86efac;
}
